1. Namespace deletion stuck on 'terminating':
issue:https://github.com/kubernetes/kubernetes/issues/60807

workaround:
1. kubectl get namespace annoying-namespace-to-delete -o json > tmp.json

2. edit tmp.json and delete "kubernetes" in finalizers

3. nohup kubectl proxy &

4. 
1) for rancher:
curl -k -H "Content-Type: application/json" -X PUT --data-binary @tmp.json http://127.0.0.1:8001/k8s/clusters/xxxxxx/api/v1/namespaces/annoying-namespace-to-delete/finalize

2) for native:
curl -k -H "Content-Type: application/json" -X PUT --data-binary @tmp.json https://127.0.0.1:8001/api/v1/namespaces/annoying-namespace-to-delete/finalize

5. kill -9 pid (ps au|grep proxy)